In [1]:
print("Hello Humanity")

Hello Humanity

In [1]:
import graphlab
# Set product key on this computer. After running this cell, you will not need to re-enter your product key. 
graphlab.product_key.set_product_key('E58F-9A31-501B-14E4-FDFC-8D36-79A1-FF73')

# Limit number of worker processes. This preserves system memory, which prevents hosted notebooks from crashing.
graphlab.set_runtime_config('GRAPHLAB_DEFAULT_NUM_PYLAMBDA_WORKERS', 4)

# Output active product key.
graphlab.product_key.get_product_key()

This non-commercial license of GraphLab Create for academic use is assigned to mostafa.zakaria@gmail.com and will expire on August 02, 2017.

[INFO] graphlab.cython.cy_server: GraphLab Create v2.1 started. Logging: /tmp/graphlab_server_1470392524.log

'E58F-9A31-501B-14E4-FDFC-8D36-79A1-FF73'

In [2]:
sf = graphlab.SFrame('sample_file.csv') #loads the csv file into an SFrame. Need to figure out the directories...

Finished parsing file /Users/mustafa/sample_file.csv

Parsing completed. Parsed 7 lines in 0.029812 secs.

------------------------------------------------------
Inferred types from first 100 line(s) of file as
column_type_hints=[str,str,str,int]
If parsing fails due to incorrect types, you can correct
the inferred type list above and pass it to read_csv in
the column_type_hints argument
------------------------------------------------------

Finished parsing file /Users/mustafa/sample_file.csv

Parsing completed. Parsed 7 lines in 0.010793 secs.

In [4]:
sf #standard output of SFrame - pretty spiffy

Columns:
	First Name	str
	Last Name	str
	Country	str
	age	int

Rows: 7

Data:
+------------+-----------+---------------+-----+
| First Name | Last Name |    Country    | age |
+------------+-----------+---------------+-----+
|    Bob     |   Smith   | United States |  24 |
|   Alice    |  Williams |     Canada    |  23 |
|  Malcolm   |    Jone   |    England    |  22 |
|   Felix    |   Brown   |      USA      |  23 |
|    Alex    |   Cooper  |     Poland    |  23 |
|    Tod     |  Campbell | United States |  22 |
|   Derek    |    Ward   |  Switzerland  |  25 |
+------------+-----------+---------------+-----+
[7 rows x 4 columns]

In [9]:
sf.head() #reveals the tope few rows of the dataset

Columns:
	First Name	str
	Last Name	str
	Country	str
	age	int

Rows: 7

Data:
+------------+-----------+---------------+-----+
| First Name | Last Name |    Country    | age |
+------------+-----------+---------------+-----+
|    Bob     |   Smith   | United States |  24 |
|   Alice    |  Williams |     Canada    |  23 |
|  Malcolm   |    Jone   |    England    |  22 |
|   Felix    |   Brown   |      USA      |  23 |
|    Alex    |   Cooper  |     Poland    |  23 |
|    Tod     |  Campbell | United States |  22 |
|   Derek    |    Ward   |  Switzerland  |  25 |
+------------+-----------+---------------+-----+
[7 rows x 4 columns]

In [10]:
sf.tail() #reveals last few rows of the dataset

Columns:
	First Name	str
	Last Name	str
	Country	str
	age	int

Rows: 7

Data:
+------------+-----------+---------------+-----+
| First Name | Last Name |    Country    | age |
+------------+-----------+---------------+-----+
|    Bob     |   Smith   | United States |  24 |
|   Alice    |  Williams |     Canada    |  23 |
|  Malcolm   |    Jone   |    England    |  22 |
|   Felix    |   Brown   |      USA      |  23 |
|    Alex    |   Cooper  |     Poland    |  23 |
|    Tod     |  Campbell | United States |  22 |
|   Derek    |    Ward   |  Switzerland  |  25 |
+------------+-----------+---------------+-----+
[7 rows x 4 columns]

## Visualization and Standard Functions

In [5]:
sf.show() #opens the standard graphlab visualization tool in another window. 
#But it stopped when I set canvas later. How to Reset?

In [4]:
graphlab.canvas.set_target('ipynb') #sets the canvas to this specific notebook

In [ ]:
sf

In [22]:
sf['age'].show(view='Categorical')

In [27]:
sf['Country'] #standard printout/output #note: this thing is Case Sensitive

dtype: str
Rows: 7
['United States', 'Canada', 'England', 'USA', 'Poland', 'United States', 'Switzerland']

In [28]:
sf['age'] #standard printout/output

dtype: int
Rows: 7
[24, 23, 22, 23, 23, 22, 25]

In [29]:
sf['age'].mean() #function used to compute the mean of all the contents of the age column

23.142857142857146

In [30]:
sf['age'].max()

25

## Add and Manipulate Columns

In [7]:
sf['First Name']

dtype: str
Rows: 7
['Bob', 'Alice', 'Malcolm', 'Felix', 'Alex', 'Tod', 'Derek']

In [35]:
sf['Full Name'] = sf['First Name'] + ' ' + sf['Last Name'] #concat 'First' and 'Last' name columns in a new column
sf #show table with new concatenated column

Columns:
	First Name	str
	Last Name	str
	Country	str
	age	int
	Full Name	str

Rows: 7

Data:
+------------+-----------+---------------+-----+----------------+
| First Name | Last Name |    Country    | age |   Full Name    |
+------------+-----------+---------------+-----+----------------+
|    Bob     |   Smith   | United States |  24 |   Bob Smith    |
|   Alice    |  Williams |     Canada    |  23 | Alice Williams |
|  Malcolm   |    Jone   |    England    |  22 |  Malcolm Jone  |
|   Felix    |   Brown   |      USA      |  23 |  Felix Brown   |
|    Alex    |   Cooper  |     Poland    |  23 |  Alex Cooper   |
|    Tod     |  Campbell | United States |  22 |  Tod Campbell  |
|   Derek    |    Ward   |  Switzerland  |  25 |   Derek Ward   |
+------------+-----------+---------------+-----+----------------+
[7 rows x 5 columns]

In [38]:
sf['age'] + 2 #adds 2 to each age field in the data set. Note: This is not persistent

dtype: int
Rows: 7
[26, 25, 24, 25, 25, 24, 27]

## Advanced Mathematical Transformations

In [40]:
sf['Country'].show() #Note 'United States' and 'USA' are separate entries. We're gonna fix this. I hope...

In [41]:
def transform(country): #this function will transform each instance of 'USA' into 'United States'
    if(country == 'USA'):
        return 'United States'
    else:
        return country

In [43]:
transform('USA')

'United States'

In [44]:
sf['Country'].apply(transform) #so it worked but remember this didn't actually alter the dataset!

dtype: str
Rows: 7
['United States', 'Canada', 'England', 'United States', 'Poland', 'United States', 'Switzerland']

In [45]:
sf #incase you need further proof...

Columns:
	First Name	str
	Last Name	str
	Country	str
	age	int
	Full Name	str

Rows: 7

Data:
+------------+-----------+---------------+-----+----------------+
| First Name | Last Name |    Country    | age |   Full Name    |
+------------+-----------+---------------+-----+----------------+
|    Bob     |   Smith   | United States |  24 |   Bob Smith    |
|   Alice    |  Williams |     Canada    |  23 | Alice Williams |
|  Malcolm   |    Jone   |    England    |  22 |  Malcolm Jone  |
|   Felix    |   Brown   |      USA      |  23 |  Felix Brown   |
|    Alex    |   Cooper  |     Poland    |  23 |  Alex Cooper   |
|    Tod     |  Campbell | United States |  22 |  Tod Campbell  |
|   Derek    |    Ward   |  Switzerland  |  25 |   Derek Ward   |
+------------+-----------+---------------+-----+----------------+
[7 rows x 5 columns]

In [47]:
sf['Country'] = sf['Country'].apply(transform) #this will persist the transformation 
sf

Columns:
	First Name	str
	Last Name	str
	Country	str
	age	int
	Full Name	str

Rows: 7

Data:
+------------+-----------+---------------+-----+----------------+
| First Name | Last Name |    Country    | age |   Full Name    |
+------------+-----------+---------------+-----+----------------+
|    Bob     |   Smith   | United States |  24 |   Bob Smith    |
|   Alice    |  Williams |     Canada    |  23 | Alice Williams |
|  Malcolm   |    Jone   |    England    |  22 |  Malcolm Jone  |
|   Felix    |   Brown   | United States |  23 |  Felix Brown   |
|    Alex    |   Cooper  |     Poland    |  23 |  Alex Cooper   |
|    Tod     |  Campbell | United States |  22 |  Tod Campbell  |
|   Derek    |    Ward   |  Switzerland  |  25 |   Derek Ward   |
+------------+-----------+---------------+-----+----------------+
[7 rows x 5 columns]

In [5]:
def distanceToMedian(age):
    return (age - 23)

In [8]:
sf['median'] = sf['age'].apply(distanceToMedian)
#graphlab.canvas.set_target('ipynb')
sf['median']

dtype: int
Rows: 7
[1, 0, -1, 0, 0, -1, 2]